body {
	color: #555459;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5rem;
}

* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}


#header {
position: fixed;
top: 0;
left: 0;
padding: 0;
background: white;
height: 60px;
width: 100%;
margin-bottom: 2rem;
font-size: 15px;
z-index: 10;
background: #fbfbfb;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

#header-inner {
	width: 940px;
	margin: 16px auto 10px auto;
}

#page-inner {
	width: 940px;
	margin: 80px auto 80px auto;
	xborder: 1px solid black;
	xpadding: 1em;
}

#slack_icon {
float: left;
display: inline-block;
margin-top: -3px;
margin-right: 0.4rem;
width: 32px;
height: 32px;
}

h1, h2, h3, h4 {
	font-weight: 900;
	font-family: 'Lato', sans-serif;
	color: #555459;
	-webkit-font-smoothing: antialiased;
	margin: 0 0 1rem 0;
}

h1 a {
	color: #555459;
	text-decoration: none;
}

h1 a:hover {
	color: #4A494D;
}

h2 {
	font-size: 1.5rem;
	line-height: 2rem;
}

.alert {
	font-size: 0.9rem;
	color: #c09853;
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.alert-danger, .alert-error {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}

.btn {
background: #2a80b9;
color: white !important;
text-shadow: 0 1px rgba(0, 0, 0, 0.2);
-webkit-font-smoothing: antialiased;
font-family: 'Lato', sans-serif;
line-height: 1.2rem;
font-weight: 900;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-decoration: none;
border: none;
-webkit-border-radius: 0.25rem;
-moz-border-radius: 0.25rem;
border-radius: 0.25rem;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
vertical-align: bottom;
white-space: nowrap;
padding: 7px 14px 8px;
font-size: 15px;
}

.btn:hover, .btn:focus {
background: #439fe0;
color: white;
outline: none;
}

.btn:active, .btn.active {
background: #439fe0;
color: white;
-webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.25);
-moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.25);
box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.25);
}

.btn-danger {
	background: #d00000;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
	background: #e60000;
}

.btn-warning {
	background: #daa038;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
	background: #e8ac3c;
}

.btn-success {
	background: #36a64f;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
	background: #3ebd5a;
}

.godblock {
border: 1px solid #becccc;
-moz-border-radius: 15px;
border-radius: 15px;
background-image: url(https://slack.global.ssl.fastly.net/5065/img/stripes_bg.gif);
padding: 8px;
position: relative;
text-align: left;
}

.godblock pre {
	margin: 0;
}

code {
font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
padding: 2px 4px;
color: #d14;
background-color: #f7f7f9;
border: 1px solid #e1e1e8;
font-size: 0.8rem;
white-space: normal;
}

form {
	margin: 0;
	padding: 0;
}

.col_left {
  width: 198px;
  margin-right: 2rem;
  padding-right: 0.5rem;
  float: left;
}
.col_right {
  width: 700px;
  float: left;
}


/* Add Services Grid */
.service {
  width: 226px;
  float: left;
  margin: 0 0.6rem 0.6rem 0;
  border: 1px solid #DDD;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  -webkit-transitionDISABLED: background 0.1s, color 0.1s 0.2s ease-out;
  -moz-transitionDISABLED: background 0.1s, color 0.1s 0.2s ease-out;
  -o-transitionDISABLED: background 0.1s, color 0.1s 0.2s ease-out;
  transitionDISABLED: background 0.1s, color 0.1s 0.2s ease-out;
  -webkit-transitionDISABLED: background 0.1s, color 0.1s;
  -moz-transitionDISABLED: background 0.1s, color 0.1s;
  -o-transitionDISABLED: background 0.1s, color 0.1s;
  transitionDISABLED: background 0.1s, color 0.1s;
  line-height: 1.25rem;
  color: #555459;
  padding: 0.9rem;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
.service .icon {
  margin: 0 auto 1rem;
  display: block;
  width: 64px;
  height: 64px;
  cursor: pointer;
}
.service:hover {
  cursor: default;
  background: #f1f7fa;
}
.service h4,
.service h4 a {
  color: #555459;
  -webkit-transitionDISABLED: color 0.1s ease-out;
  -moz-transitionDISABLED: color 0.1s ease-out;
  -o-transitionDISABLED: color 0.1s ease-out;
  transitionDISABLED: color 0.1s ease-out;
  cursor: pointer;
}
.service:hover h4,
.service:hover h4 a {
  color: #2a80b9;
}
.service h4:hover {
  text-decoration: underline;
}
.service button,
.service .btn {
  width: 100%;
}

.no_right_margin {
  margin-right: 0 !important;
}


ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

li {
  line-height: 20px;
}

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}

ul.inline > li,
ol.inline > li {
  display: inline-block;
  *display: inline;
  padding-right: 5px;
  padding-left: 5px;
  *zoom: 1;
}



/* Sidebar Nav */
ul.sidebar_nav {
  list-style-type: none;
  margin: 0 0 1rem;
}
ul.sidebar_nav li {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  color: #555459;
}
.sidebar_nav i {
  width: 1.75rem;
  display: inline-block;
  text-align: center;
  padding: 0 0.5rem 0 0;
  font-size: 18px;
}
.sidebar_nav a:hover i {
  text-decoration: none;
}
