<?php
	$cfg = array();

	# This URL should point to your Slackware install.
	# It must end in a slash.

	$cfg['root_url'] = 'http://myserver.com/slackware/';


	# Create an incoming webhook in your Slack instance and
	# put the URL here (this is temporary).

	$cfg['webhook_url'] = 'https://foo.slack.com/services/hooks/incoming-webhook?token=xxxxx';


	# Base URL for the Slack API.
	# Leave this as-is unless you're using Slack-in-a-box

	$cfg['api_base'] = 'https://slack.com/api/';


	# An API token for your team.
	# You can generate this at https://slack.com/api/ for now.
	# In the future we'll use OAuth or soemthing.

        $cfg['api_token'] = 'abcd-123456789-abcdefhji-01234567';
